@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-ExtraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Sohne";
  src: url("/fonts/Sohne/Sohne-Black.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
